# ===== ENV / SECRETS =====
.env
.env.*
*.env

# ===== PYTHON =====
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# ===== VIRTUAL ENV =====
venv/
.venv/
env/
foundry/
pyvenv.cfg

# ===== EDITORS =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== LOGS =====
*.log
